.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font: $banner-font;
  color: $banner-color;
  width: $banner-width;
  min-height: $banner-min-height;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 33.333333%;

    &.banner-left-container {
      border-right: $banner-container-border;
    }

    &.banner-middle-container {
      justify-content: center;
    }

    &.banner-right-container {
      border-left: $banner-container-border;
    }

    &.enter {
      opacity: 0;

      &.enter-active {
        opacity: 1;
        transition: $banner-container-enter-transition;
      }
    }

    &.exit:not(.enter) {
      opacity: 1;

      &.exit-active {
        opacity: 0;
        transition: $banner-container-exit-transition;
      }
    }
  }

  .player-chips,
  .player-bet,
  .player-hand-total,
  .dealer-hand-total,
  .message {
    letter-spacing: $banner-item-letter-spacing;
    margin: $banner-item-margin;
  }

  .player-chips,
  .player-hand-total {
    text-align: left;
  }

  .player-bet,
  .dealer-hand-total {
    text-align: right;
  }

  .message {
    text-align: center;
  }

  .player-hand-total {
    color: $banner-item-color-player;
  }

  .dealer-hand-total {
    color: $banner-item-color-dealer;
  }

  p {
    margin: 0;

    &:nth-child(2) {
      font-size: $banner-item-value-font-size;
      font-weight: $banner-item-value-font-weight;
      letter-spacing: $banner-item-value-letter-spacing;
    }

    > span {
      display: block;
    }
  }
}
