html {
  font: $base-font;
  color: $base-color;
  text-shadow: $base-text-shadow;
  background: $base-background;
}

// @media (orientation: landscape) {
//   html {
//       font-size: 2.5vh;
//   }
// }

// @media (orientation: portrait) {
//   html {
//       font-size: 2.5vw;
//   }
// }

// html,
// body,
// #root,
// #app {
//   height: 100%;
// }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

[hidden] {
  display: none !important;
}
