html {
  font: $base-font;
  color: $base-color;
  text-shadow: $base-text-shadow;
  background: $base-background;
}

// headers
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

// buttons
button,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  cursor: pointer;
}

// input
input,
select {
  font: inherit;
  color: inherit;
  text-shadow: inherit;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 0.3em;
  background: rgba(0,0,0,0.1);

  &[type=text],
  &[type=number] {
    padding: 0.2em 0.4em;
    appearance: none; // remove the inner shadow in iOS
    outline: none; // let the blinking cursor indicate focus
  }

  &::placeholder {
    color: rgba(255,255,255,0.2);
    text-shadow: none;
  }

  &::-webkit-inner-spin-button {
    margin-right: -0.2em;
  }

  > option {
    background-color: black;
  }
}


// links
a {
  outline: none;
  text-decoration: none;

  &:focus {
    text-decoration: underline;
  }

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
  }

  &:active {
    color: $link-color-active;
  }
}

// scrollbars
::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-height;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: $scrollbar-background;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border: $scrollbar-thumb-border;
  border-radius: $scrollbar-thumb-border-radius;
  background: $scrollbar-thumb-background;
  background-clip: content-box;
}

// hidden popups, etc.
[hidden] {
  display: none !important;
}

// @media (orientation: landscape) {
//   html {
//     font-size: 2.5vh;
//   }
// }

// @media (orientation: portrait) {
//   html {
//     font-size: 2.5vw;
//   }
// }
