.controls {

  > .name-container,
  > .buy-in-container,
  > .insurance-container,
  > .even-money-container {

    > p {
      text-align: center;
      margin: $controls-text-margin;
    }
  }

  > .sit-container,
  > .sit-in-out-container,
  > .bet-container,
  > .decision-container,
  > .name-container > div,
  > .buy-in-container > div,
  > .insurance-container > div,
  > .even-money-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    > input,
    > button {
      font-size: $controls-input-font-size;
      margin: $controls-input-margin;
    }
  }

  > .bet-container,
  > .buy-in-container > div {

    &::before {
      content: '$';
      font-size: $controls-money-text-font-size;
      margin: $controls-money-text-margin;
    }
  }

  > .name-container > div > input {
    width: $controls-name-input-width;
  }

  > .buy-in-container > div > input {
    width: $controls-buy-in-input-width;
  }

  > .bet-container > input {
    width: $controls-bet-input-width;
  }
}
