.debug-menu {
  display: flex;
  flex-direction: column;
  padding: $debug-menu-padding;
  background: $debug-menu-background;
  overflow: auto;

  > button {
    font-size: $debug-menu-button-font-size;
    margin: $debug-menu-button-margin;
  }
}
