.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  > .popup-button {
    font: $menu-button-font;
    width: $menu-button-width;
    height: $menu-button-height;
    padding: 0;
    border: 0;
    color: $menu-button-color;
    text-shadow: $menu-button-text-shadow;
    background: none;
    outline: none;
    cursor: pointer;
    transition: $menu-button-transition;
    @include font-smoothing(on);

    &:focus,
    &:hover:enabled,
    &:active:enabled {
        color: $menu-button-color-alt;
    }

  }

  > .info-popup-button::before {
    content: '\f05a'; // la-info-circle
  }

  > .profile-popup-button::before {
    content: '\f2bd'; // la-user-circle
  }

  > .chat-popup-button::before {
    content: '\f086'; // la-comments
  }

  > .music-popup-button::before {
    content: '\f001'; // la-music
  }

  > .settings-popup-button::before {
    content: '\f013'; // la-cog
  }

  > .quit-popup-button::before {
    content: '\f2f5'; // la-sign-out-alt
  }

  > .dev-popup-button::before {
    content: '\f121'; // la-code
  }

}
