.modal {

  > .modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $modal-overlay-background;
    backdrop-filter: $modal-overlay-backdrop-filter;
    opacity: $modal-overlay-opacity;

    &.after-open {
      opacity: $modal-overlay-opacity-after-open;
      transition: $modal-overlay-transition-after-open;
    }

    &.before-close {
      opacity: $modal-overlay-opacity-before-close;
      transition: $modal-overlay-transition-before-close;
    }

    > .modal-content {
      // padding: 20px;
      // border: 1px solid black;
      // border-radius: 5px;
      // box-shadow: 0 0 20px rgba(0,0,0,0.5);
      // color: black;
      // background-color: white;
      outline: none;
      transform: $modal-content-transform;


      &.after-open {
        transform: $modal-content-transform-after-open;
        transition: $modal-content-transition-after-open;
      }

      &.before-close {
        transform: $modal-content-transform-before-close;
        transition: $modal-content-transition-before-close;
      }

    }

  }

}

.modal-open {
  overflow: hidden;
}

.modal1-open .menu > button:nth-child(1),
.modal2-open .menu > button:nth-child(2),
.modal3-open .menu > button:nth-child(3),
.modal4-open .menu > button:nth-child(4),
.modal5-open .menu > button:nth-child(5),
.modal6-open .menu > button:nth-child(6) {
  color: goldenrod;
}
