.players {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-auto-flow: column;
  justify-items: center;
  font: $players-font;
  color: $players-color;
  width: $players-width;
  min-height: $players-min-height;
}

.player {
  position: relative; // so we can absolutely position the seat
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: $player-width;
  transform: $player-transform;
  transition: $player-transition;

  &.primary {
    transform: $primary-player-transform;
    z-index: 1; // above other players

    &::before,
    > .info {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: $seat-width;
    height: $seat-height;
    border: $seat-border;
    border-radius: 50%;
    box-sizing: border-box;
  }

  > .info {
    position: relative;
    width: $player-info-width;
    margin: $player-info-margin;
    text-align: center;
    white-space: nowrap;

    > .player-name {
      font-size: $player-name-font-size;
      padding: $player-name-padding;
      margin: $player-name-margin;
    }

    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      > p {
        flex: 1 0 33.3333%;
        font-size: $player-info-item-font-size;
        padding: $player-info-item-padding;
        margin: $player-info-item-margin;
        box-sizing: border-box;

        &.player-chips {
          background: $player-chips-background;
        }

        &.player-bet {
          background: $player-bet-background;
        }

        &.player-hand-total {
          background: $player-hand-total-background;
        }

        > span {
          display: block;
        }
      }
    }
  }

  &.active > .info > .player-name {
    background: $player-active-background;
  }

  &.enter {
    transform: $player-enter-transform;

    &.enter-active {
      transform: $player-enter-active-transform;
      transition: $player-enter-transition;
    }
  }

  &.exit {
    opacity: $player-exit-opacity;

    &.exit-active {
      opacity: $player-exit-active-opacity;
      transition: $player-exit-transition;
    }
  }
}
