$enterAnimationDuration: 500ms;
$enterAnimationFunction: cubic-bezier(0.165, 0.84, 0.44, 1);

$exitAnimationDuration: 500ms;
$exitAnimationFunction: cubic-bezier(0.165, 0.84, 0.44, 1);

.popup {
  position: fixed;
  inset: 0;

  // positions
  &-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  // fade transitions
  &-fade-enter {
    opacity: 0;
    transition: opacity $enterAnimationDuration $enterAnimationFunction;
  }

  &-fade-enter-active {
    opacity: 1;
  }

  &-fade-exit {
    opacity: 1;
    transition: opacity $exitAnimationDuration $exitAnimationFunction;
  }

  &-fade-exit-active {
    opacity: 0;
  }

  // zoom transitions
  &-zoom-enter {
    opacity: 0;
    transform: scale3d(0.8,0.8,0.8);
    transition: opacity $enterAnimationDuration $enterAnimationFunction, transform $enterAnimationDuration $enterAnimationFunction;
  }

  &-zoom-enter-active {
    opacity: 1;
    transform: scale3d(1,1,1);
  }

  &-zoom-exit {
    opacity: 1;
    transform: scale3d(1,1,1);
    transition: opacity $exitAnimationDuration $exitAnimationFunction, transform $exitAnimationDuration $exitAnimationFunction;
  }

  &-zoom-exit-active {
    opacity: 0;
    transform: scale3d(0.8,0.8,0.8);
  }

  // slide up transitions
  &-slide-up-enter {
    transform: translate(0,100%);
    transition: transform $enterAnimationDuration $enterAnimationFunction;
  }

  &-slide-up-enter-active {
    transform: translate(0,0);
  }

  &-slide-up-exit {
    transform: translate(0,0);
    transition: transform $exitAnimationDuration $exitAnimationFunction;
  }

  &-slide-up-exit-active {
    transform: translate(0,100%);
  }

  // slide down transitions
  &-slide-down-enter {
    transform: translate(0,-100%);
    transition: transform $enterAnimationDuration $enterAnimationFunction;
  }

  &-slide-down-enter-active {
    transform: translate(0,0);
  }

  &-slide-down-exit {
    transform: translate(0,0);
    transition: transform $exitAnimationDuration $exitAnimationFunction;
  }

  &-slide-down-exit-active {
    transform: translate(0,-100%);
  }

  // slide left transitions
  &-slide-left-enter {
    transform: translate(100%,0);
    transition: transform $enterAnimationDuration $enterAnimationFunction;
  }

  &-slide-left-enter-active {
    transform: translate(0,0);
  }

  &-slide-left-exit {
    transform: translate(0,0);
    transition: transform $exitAnimationDuration $exitAnimationFunction;
  }

  &-slide-left-exit-active {
    transform: translate(100%,0);
  }

  // slide right transitions
  &-slide-right-enter {
    transform: translate(-100%,0);
    transition: transform $enterAnimationDuration $enterAnimationFunction;
  }

  &-slide-right-enter-active {
    transform: translate(0,0);
  }

  &-slide-right-exit {
    transform: translate(0,0);
    transition: transform $exitAnimationDuration $exitAnimationFunction;
  }

  &-slide-right-exit-active {
    transform: translate(-100%,0);
  }

  > .popup-mask {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
  }

  > .popup-content {
    position: relative;
    outline: none;
  }

}

.popup-open {
  overflow: hidden; // Prevent page from scrolling when modal is open
}

.info-popup-open .info-modal-button,
.music-popup-open .music-modal-button {
  color: $menu-button-color-alt;
}

.music-popup > .popup-content {
  width: 50%;
  height: 50%;
  border-radius: 0.5em;
  background-color: black;
  box-shadow: 0 0 2em black;
  box-sizing: border-box;
  overflow: hidden;

  > iframe {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 150px; // Prevent iframe content from breaking
    border: none;
  }

}

