.popup {
  position: fixed;
  inset: 0;

  // positions
  &-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  // fade transitions
  &-fade-enter {
    opacity: 0;
    transition: opacity $popup-enter-transition-duration $popup-enter-transition-function;
  }

  &-fade-enter-active {
    opacity: 1;
  }

  &-fade-exit {
    opacity: 1;
    transition: opacity $popup-exit-transition-duration $popup-exit-transition-function;
  }

  &-fade-exit-active {
    opacity: 0;
  }

  // zoom transitions
  &-zoom-enter {
    opacity: 0;
    transform: scale3d(0.8,0.8,0.8);
    transition: opacity $popup-enter-transition-duration $popup-enter-transition-function, transform $popup-enter-transition-duration $popup-enter-transition-function;
  }

  &-zoom-enter-active {
    opacity: 1;
    transform: scale3d(1,1,1);
  }

  &-zoom-exit {
    opacity: 1;
    transform: scale3d(1,1,1);
    transition: opacity $popup-exit-transition-duration $popup-exit-transition-function, transform $popup-exit-transition-duration $popup-exit-transition-function;
  }

  &-zoom-exit-active {
    opacity: 0;
    transform: scale3d(0.8,0.8,0.8);
  }

  // slide up transitions
  &-slide-up-enter {
    transform: translate(0,100%);
    transition: transform $popup-enter-transition-duration $popup-enter-transition-function;
  }

  &-slide-up-enter-active {
    transform: translate(0,0);
  }

  &-slide-up-exit {
    transform: translate(0,0);
    transition: transform $popup-exit-transition-duration $popup-exit-transition-function;
  }

  &-slide-up-exit-active {
    transform: translate(0,100%);
  }

  // slide down transitions
  &-slide-down-enter {
    transform: translate(0,-100%);
    transition: transform $popup-enter-transition-duration $popup-enter-transition-function;
  }

  &-slide-down-enter-active {
    transform: translate(0,0);
  }

  &-slide-down-exit {
    transform: translate(0,0);
    transition: transform $popup-exit-transition-duration $popup-exit-transition-function;
  }

  &-slide-down-exit-active {
    transform: translate(0,-100%);
  }

  // slide left transitions
  &-slide-left-enter {
    transform: translate(100%,0);
    transition: transform $popup-enter-transition-duration $popup-enter-transition-function;
  }

  &-slide-left-enter-active {
    transform: translate(0,0);
  }

  &-slide-left-exit {
    transform: translate(0,0);
    transition: transform $popup-exit-transition-duration $popup-exit-transition-function;
  }

  &-slide-left-exit-active {
    transform: translate(100%,0);
  }

  // slide right transitions
  &-slide-right-enter {
    transform: translate(-100%,0);
    transition: transform $popup-enter-transition-duration $popup-enter-transition-function;
  }

  &-slide-right-enter-active {
    transform: translate(0,0);
  }

  &-slide-right-exit {
    transform: translate(0,0);
    transition: transform $popup-exit-transition-duration $popup-exit-transition-function;
  }

  &-slide-right-exit-active {
    transform: translate(-100%,0);
  }

  > .popup-mask {
    position: absolute;
    inset: 0;
    background: $popup-mask-background;
    backdrop-filter: $popup-mask-backdrop-filter;
  }

  > .popup-content {
    position: relative;
    outline: none;
  }

}

.popup-open {
  overflow: hidden; // prevent page from scrolling while popup is open
}

.info-popup-open .info-popup-button,
.profile-popup-open .profile-popup-button,
.chat-popup-open .chat-popup-button,
.music-popup-open .music-popup-button,
.settings-popup-open .settings-popup-button,
.quit-popup-open .quit-popup-button {
  color: $menu-button-color-alt;
}

.music-popup > .popup-content {
  width: $music-popup-width;
  height: $music-popup-height;
  padding: $music-popup-padding;
  border: $music-popup-border;
  border-radius: $music-popup-border-radius;
  background: $music-popup-background;
  box-shadow: $music-popup-box-shadow;
  box-sizing: border-box;
  overflow: hidden;

  > iframe {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 150px; // prevent iframe content from breaking at narrow widths
    border: 0;
  }

}

