$animationDuration: 300ms;

.popup {
  position: fixed;
  inset: 0;

  &-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  > .popup-mask {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
  }

  > .popup-content {
    position: relative;
  }

  /* fade */
  &-fade-enter,
  &-fade-appear,
  &-fade-exit-done {
    opacity: 0;
    visibility: hidden;
  }

  &-fade-appear-active,
  &-fade-enter-active {
    opacity: 1;
    visibility: visible;
    transition: opacity $animationDuration, visibility $animationDuration;
  }

  &-fade-exit,
  &-fade-enter-done {
    opacity: 1;
    visibility: visible;
  }

  &-fade-exit-active {
    opacity: 0;
    visibility: hidden;
    transition: opacity $animationDuration, visibility $animationDuration;
  }

  /* slide-up */
  &-slide-up-enter,
  &-slide-up-appear,
  &-slide-up-exit-done {
    transform: translate(0, 100%);
  }

  &-slide-up-enter-active,
  &-slide-up-appear-active {
    transform: translate(0, 0);
    transition: transform $animationDuration;
  }

  &-slide-up-exit,
  &-slide-up-enter-done {
    transform: translate(0, 0);
  }

  &-slide-up-exit-active {
    transform: translate(0, 100%);
    transition: transform $animationDuration;
  }

  /* slide-down */
  &-slide-down-enter,
  &-slide-down-appear,
  &-slide-down-exit-done {
    transform: translate(0, -100%);
  }

  &-slide-down-enter-active,
  &-slide-down-appear-active {
    transform: translate(0, 0);
    transition: transform $animationDuration;
  }

  &-slide-down-exit,
  &-slide-down-enter-done {
    transform: translate(0, 0);
  }

  &-slide-down-exit-active {
    transform: translate(0, -100%);
    transition: transform $animationDuration;
  }

  /* slide-left */
  &-slide-left-enter,
  &-slide-left-appear,
  &-slide-left-exit-done {
    transform: translate(100%, 0);
  }

  &-slide-left-enter-active,
  &-slide-left-appear-active {
    transform: translate(0, 0);
    transition: transform $animationDuration;
  }

  &-slide-left-exit,
  &-slide-left-enter-done {
    transform: translate(0, 0);
  }

  &-slide-left-exit-active {
    transform: translate(100%, 0);
    transition: transform $animationDuration;
  }

  /* slide-right */
  &-slide-right-enter,
  &-slide-right-appear,
  &-slide-right-exit-done {
    transform: translate(-100%, 0);
  }

  &-slide-right-enter-active,
  &-slide-right-appear-active {
    transform: translate(0, 0);
    transition: transform $animationDuration;
  }

  &-slide-right-exit,
  &-slide-right-enter-done {
    transform: translate(0, 0);
  }

  &-slide-right-exit-active {
    transform: translate(-100%, 0);
    transition: transform $animationDuration;
  }

}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-width: 150px; // Prevent iframe content from breaking
  border: none;
}
