$base-font: 400 1em/1.2 'Montserrat', sans-serif;
$base-color: white;
$base-text-shadow: 1px 1px 1px black;
$base-background: black;

$link-color: green;
$link-color-visited: green;
$link-color-hover: lightgreen;
$link-color-active: lightgreen;

$scrollbar-width: 20px;
$scrollbar-height: 20px;
$scrollbar-background: transparent;
$scrollbar-thumb-border: 8px solid transparent;
$scrollbar-thumb-border-radius: 100px;
$scrollbar-thumb-background: rgba(170,170,170,0.8);

$table-background: url('../images/table.jpg') bottom/cover no-repeat;
$table-title-font: 400 5em/1.5 'Monsieur La Doulaise', cursive;

$menu-button-font: 900 2em/1 'Line Awesome Free';
$menu-button-width: 1.5em;
$menu-button-height: 1.5em;
$menu-button-color: inherit;
$menu-button-color-alt: goldenrod;
$menu-button-text-shadow: inherit;
$menu-button-transition: color 200ms ease 0ms;

$modal-overlay-background: rgba(0,0,0,0.5);
$modal-overlay-backdrop-filter: blur(5px);
$modal-overlay-opacity: 0;
$modal-overlay-opacity-after-open: 1;
$modal-overlay-opacity-before-close: 0;
$modal-overlay-transition-after-open: opacity 300ms ease 0ms;
$modal-overlay-transition-before-close: opacity 150ms ease 0ms; // MODAL_CLOSE_TIMEOUT_MS in Modal.jsx must match the duration used here

$modal-content-transform: scale3d(0.8,0.8,0.8);
$modal-content-transform-after-open: scale3d(1,1,1);
$modal-content-transform-before-close: scale3d(0.8,0.8,0.8);
$modal-content-transition-after-open: transform 300ms ease 0ms;
$modal-content-transition-before-close: transform 150ms ease 0ms; // MODAL_CLOSE_TIMEOUT_MS in Modal.jsx must match the duration used here

$popup-enter-transition-duration: 500ms; // 'enter' timeout in Popup.jsx must match the duration used here
$popup-enter-transition-function: cubic-bezier(0.165,0.84,0.44,1);

$popup-exit-transition-duration: 500ms; // 'exit' timeout in Popup.jsx must match the duration used here
$popup-exit-transition-function: cubic-bezier(0.165,0.84,0.44,1);

$popup-mask-background: rgba(0,0,0,0.5);
$popup-mask-backdrop-filter: blur(5px);

$info-popup-font-size: 1em;
$info-popup-font-weight: 300;
$info-popup-width: 66.666666%;
$info-popup-height: 66.666666%;
$info-popup-padding: 2em;
$info-popup-border: 0;
$info-popup-border-radius: 0.5em;
$info-popup-background: black;
$info-popup-box-shadow: 0 0 2em black;
$info-popup-source-font-size: 0.8em;

$music-popup-width: 50%;
$music-popup-height: 50%;
$music-popup-padding: 0;
$music-popup-border: 0;
$music-popup-border-radius: 0.5em;
$music-popup-background: black;
$music-popup-box-shadow: 0 0 2em black;
