@import 'normalize.css';
@import 'https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Dosis:wght@200;300;600&family=Monsieur+La+Doulaise&family=Montserrat:wght@300;400;600&display=swap';
@import 'https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css';

@import './variables';
@import './mixins';
@import './base';
@import './app';
@import './table';
@import './dealer';
@import './banner';
@import './controls';
@import './players';
@import './player';
@import './hand';
@import './card';
@import './menu';
@import './modal';
@import './popup';
